{% extends 'layout/base.html' %}

{% block content %}

<div class="login-container" style="height: 110vh;">
    <div class="login-card" style="max-width: 1000px;">
        <form method="post" action="/register" class="text-center" enctype="multipart/form-data">
            <h1 class="text-white">Register</h1>

            <div class="text-start mt-2">
                <p>Chosse Customer Type</p>
                <label>
                    <input type="radio" name="type" value="domestic"
                           {% if customer_type== 'domestic' %}
                            checked
                    {% endif %}> DOMESTIC
                </label>

                <label>
                    <input type="radio" name="type" value="foreign"
                           {% if customer_type== 'foreign' %}
                    checked{% endif %}> FOREIGN
                </label>
            </div>

            <div class="text-start mt-2">
                <p>Chosse Gender</p>
                <label>
                    <input type="radio" name="gender" value="male"
                           {% if gender== 'male' %}
                    checked{% endif %}> Male
                </label>

                <label>
                    <input type="radio" name="gender" value="female"
                           {% if gender== 'female' %}
                    checked{% endif %}> Female
                </label>
            </div>

            <div class="mb-3 mt-3">
                <input type="text" value="{{ name|default('') }}" class="form-control" id="name"
                       placeholder="Enter name" name="name" required>
            </div>

            <div class="mb-3 mt-3">
                <input type="text" value="{{ identification_card|default('') }}" class="form-control"
                       id="identification"
                       placeholder="Enter identification" name="identification" required>
                {% if error_message and error_message.get('err_identification_card') %}
                <p class="text-danger error-message">{{ error_message['err_identification_card'] }}</p>
                {% endif %}
            </div>

            <div class="mb-3 mt-3">
                <input type="text" value="{{ username|default('') }}" class="form-control" id="email"
                       placeholder="Enter username" name="username"
                       required>
                <p class="error-message">Username must only contain letters (a-z, A-Z), numbers (0-9). No spaces or
                    accents are allowed.</p>
                {% if error_message and error_message.get('err_username') %}
                <p class="text-danger error-message">{{ error_message['err_username'] }}</p>
                {% elif error_message and error_message.get('err_format') %}
                <p class="text-danger error-message">{{ error_message['err_format'] }}</p>
                {% endif %}
            </div>

            <div class="mt-3 mb-3">
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password"
                       required>
            </div>

            <div class="mt-3 mb-3">
                <input type="password" class="form-control" id="confirm" placeholder="Confirm password" name="confirm"
                       required>
                {% if error_message and error_message.get('err_password') %}
                <p class="text-danger error-message">{{ error_message['err_password'] }}</p>
                {% endif %}
            </div>

            <div class="mt-3 mb-3">
                <input type="text" value="{{ email|default('') }}" class="form-control" id="email"
                       placeholder="Enter email" name="email" required>
                {% if error_message and error_message.get('err_email') %}
                <p class="text-danger error-message">{{ error_message['err_email'] }}</p>
                {% endif %}
            </div>

            <div class="mt-3 mb-3">
                <input type="number" value="{{ phone|default('') }}" class="form-control" id="phone"
                       placeholder="Enter phone number" name="phone"
                       required>
                {% if error_message and error_message.get('err_phone') %}
                <p class="text-danger error-message">{{ error_message['err_phone'] }}</p>
                {% endif %}
            </div>

            <div class="mt-3 mb-3">
                <input type="file" accept=".png, .jpg" class="form-control" id="avatar" name="avatar">
            </div>

            <button type="submit" class="btn w-100 mb-3 text-white" style="background: #010C15">Register</button>
        </form>
    </div>
</div>

{% endblock %}