{% extends 'layout/base.html' %}

{% block content %}
<section class="hero position-relative text-center text-white" style="height: 500px; overflow: hidden;">
    <img src="{{ url_for('static', filename='images/roombase.jpg') }}" alt="Hotel Image" class="img-fluid">
    <div class="position-absolute top-0 start-0 w-100 h-95 bg-dark opacity-50"></div>
    <div class="position-absolute top-50 start-50 translate-middle w-100">
        <h2 class="fw-bold" style="font-size: 4rem; font-family: 'Arial', sans-serif;">Welcome to LMAO</h2>
        <h1 class="display-4 fw-bold"
            style="font-size: 3rem; font-family: 'Arial', sans-serif;">
            The Best Hotel</h1>
        <div class="d-flex justify-content-center row fs-4 w-100">
            <div class="col-auto">
                <p class="mb-0"
                   style="font-size: 70px; font-weight: Arial;">Rental History</p>
            </div>
        </div>
    </div>
</section>

<div class="popup"></div>
<div class="container mt-4">
    <!-- Room Details -->
    <div class="row p-3 shadow-sm text-white" style="background: #687994;">
        <div class="col-md-4">
            <img src="" alt="Room Image"
                 class="img-fluid rounded">
        </div>
        <div class="col-md-8 d-flex flex-column justify-content-between">
            <h5 class="card-title"></h5>
            <p class="card-text">Room Type: </p>
            <p class="card-text">Check-in: </p>
            <p class="card-text">Check-out:</p>
            <p class="fw-bold">Price: $</p>
            <button class="btn align-self-end bg-white text-dark rounded-0">
                {% if current_user.is_authenticated %}
                <a href="/room-detail" class="text-dark">Review</a>
                {% else %}
                <a href="javascript:;" onclick="loginRequired()" class="text-dark">Review</a>
                {% endif %}
            </button>
        </div>
    </div>
    <div class="container mt-4">
        <!-- Room Details -->
        <div class="row p-3 shadow-sm text-white" style="background: #687994;">
            <div class="col-md-4">
                <img src="" alt="Room Image"
                     class="img-fluid rounded">
            </div>
            <div class="col-md-8 d-flex flex-column justify-content-between">
                <h5 class="card-title"></h5>
                <p class="card-text">Room Type:</p>
                <p class="card-text">Check-in: </p>
                <p class="card-text">Check-out: </p>
                <p class="fw-bold">Price: $</p>
                <button class="btn align-self-end bg-white text-dark rounded-0">
                    {% if current_user.is_authenticated %}
                    <a href="/room-detail" class="text-dark">Review</a>
                    {% else %}
                    <a href="javascript:;" onclick="loginRequired()" class="text-dark">Review</a>
                    {% endif %}
                </button>
            </div>
        </div>
    </div>
</div>
<script src=".././static/js/main.js"></script>
{% endblock %}