a {
    text-decoration: none;
}

.form-hidden{
    display: none !important;
}

.form-visible {
    display: flex !important;
}

.error-message {
    text-align: left;
    font-style: italic;
}

.login-container {
    height: 70vh;
    background: url('https://res.cloudinary.com/dndsrbf9s/image/upload/v1731984424/4bd6eb8619e6625fe568afdd8682c2ba_gknloh.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background-color: rgba(14, 16, 37, 0.7);
    border-radius: 15px;
    padding: 2rem;
    width: 100%;
    max-width: 600px;
    color: white;
}

.login-card .form-control {
    border-radius: 30px;
}

.login-card .btn {
    border-radius: 30px;
}

.login-card a {
    color: white;
    text-decoration: underline;
}

.login-card a:hover {
    color: #ddd;
    text-decoration: none;
}

/*=============================*/
/* From Uiverse.io by r7chardgh */
/* The switch - the box around the slider */
/*.switch {*/
/*    font-size: 17px;*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    width: 5em;*/
/*    height: 2.5em;*/
/*    user-select: none;*/
/*}*/

/*!* Hide default HTML checkbox *!*/
/*.switch .cb {*/
/*    opacity: 0;*/
/*    width: 0;*/
/*    height: 0;*/
/*}*/

/*!* The slider *!*/
/*.toggle {*/
/*    position: absolute;*/
/*    cursor: pointer;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: #373737;*/
/*    border-radius: 0.1em;*/
/*    transition: 0.4s;*/
/*    text-transform: uppercase;*/
/*    font-weight: 700;*/
/*    overflow: hidden;*/
/*    box-shadow: -0.3em 0 0 0 #373737, -0.3em 0.3em 0 0 #373737,*/
/*    0.3em 0 0 0 #373737, 0.3em 0.3em 0 0 #373737, 0 0.3em 0 0 #373737;*/
/*}*/

/*.toggle > .left {*/
/*    position: absolute;*/
/*    display: flex;*/
/*    width: 50%;*/
/*    height: 88%;*/
/*    background-color: #f3f3f3;*/
/*    color: #373737;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    transform-origin: right;*/
/*    transform: rotateX(10deg);*/
/*    transform-style: preserve-3d;*/
/*    transition: all 150ms;*/
/*}*/

/*.left::before {*/
/*    position: absolute;*/
/*    content: "";*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: rgb(206, 206, 206);*/
/*    transform-origin: center left;*/
/*    transform: rotateY(90deg);*/
/*}*/

/*.left::after {*/
/*    position: absolute;*/
/*    content: "";*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: rgb(112, 112, 112);*/
/*    transform-origin: center bottom;*/
/*    transform: rotateX(90deg);*/
/*}*/

/*.toggle > .right {*/
/*    position: absolute;*/
/*    display: flex;*/
/*    width: 50%;*/
/*    height: 88%;*/
/*    background-color: #f3f3f3;*/
/*    color: rgb(206, 206, 206);*/
/*    right: 1px;*/
/*    bottom: 0;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    transform-origin: left;*/
/*    transform: rotateX(10deg) rotateY(-45deg);*/
/*    transform-style: preserve-3d;*/
/*    transition: all 150ms;*/
/*}*/

/*.right::before {*/
/*    position: absolute;*/
/*    content: "";*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: rgb(206, 206, 206);*/
/*    transform-origin: center right;*/
/*    transform: rotateY(-90deg);*/
/*}*/

/*.right::after {*/
/*    position: absolute;*/
/*    content: "";*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: rgb(112, 112, 112);*/
/*    transform-origin: center bottom;*/
/*    transform: rotateX(90deg);*/
/*}*/

/*.switch input:checked + .toggle > .left {*/
/*    transform: rotateX(10deg) rotateY(45deg);*/
/*    color: rgb(206, 206, 206);*/
/*}*/

/*.switch input:checked + .toggle > .right {*/
/*    transform: rotateX(10deg) rotateY(0deg);*/
/*    color: #487bdb;*/
/*}*/

/*=============================*/
/* Container cho nút */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

/* Ẩn input checkbox */
.switch.cb {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Dạng slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e0e0e0;
    transition: 0.4s;
    border-radius: 25px;
}

/* Hình tròn bên trong slider */
.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* Khi checkbox được chọn */
input:checked + .slider {
    background-color: #1175c7;
}

input:checked + .slider:before {
    transform: translateX(25px);
}

/*=======================================Button đặt/thuê role nhân viên=================================*/
/* From Uiverse.io by Admin12121 */
.body {
  --radius: 8px;
  --border: 4px;
  --height: 48px;
  --speed: 0.25s;
  display: grid;
  place-items: center;
  align-content: center;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif, system-ui;
}

.tabs {
  height: var(--height);
  display: grid;
  grid-auto-flow: column;
  background: hsl(0 0% 0%);
  border-radius: var(--radius);
  grid-auto-columns: 1fr;
  position: relative;
  border: var(--border) solid hsl(0 0% 0%);
}

.tabs {
  --ease: linear(
    0,
    0.1641 3.52%,
    0.311 7.18%,
    0.4413 10.99%,
    0.5553 14.96%,
    0.6539 19.12%,
    0.738 23.5%,
    0.8086 28.15%,
    0.8662 33.12%,
    0.9078 37.92%,
    0.9405 43.12%,
    0.965 48.84%,
    0.9821 55.28%,
    0.992 61.97%,
    0.9976 70.09%,
    1
  );
}

.tabs > .input,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.tabs:has(:checked:nth-of-type(1)) {
  --active: 0;
}
.tabs:has(:checked:nth-of-type(2)) {
  --active: 1;
}
.tabs:has(:checked:nth-of-type(3)) {
  --active: 2;
}
.tabs:has(:checked:nth-of-type(4)) {
  --active: 3;
}

.tabs :checked + .label {
  --highlight: 1;
}

.tabs:has(.input:nth-of-type(2)) {
  --count: 2;
}
.tabs:has(.input:nth-of-type(3)) {
  --count: 3;
}
.tabs:has(.input:nth-of-type(4)) {
  --count: 4;
}

.tabs .label {
  padding: 0 clamp(10px, 10px + 10px, 20px);
  cursor: pointer;
  text-align: center;
  height: 100%;
  display: grid;
  border-radius: calc(var(--radius) - var(--border));
  place-items: center;
  color: hsl(0 0% 100% / calc(0.5 + var(--highlight, 0)));
  transition: background, color;
  transition-duration: 0.25s;
  transition-timing-function: var(--ease, ease);
}

.input:not(:checked) + .label:hover {
  --highlight: 0.35;
  background: hsl(0 0% 20%);
}

.tabs::after {
  pointer-events: none;
  content: "";
  width: calc(100% / var(--count));
  height: 100%;
  background: hsl(0 0% 100%);
  position: absolute;
  border-radius: calc(var(--radius) - var(--border));
  mix-blend-mode: difference;
  translate: calc(var(--active, 0) * 100%) 0;
  transition: translate, outline-color;
  transition-duration: var(--speed);
  transition-timing-function: var(--ease, ease);
  outline: 2px solid transparent;
}

.tabs:has(:focus-visible)::after {
  outline-color: red;
}
