{% extends 'layout/base.html' %}

{% block content %}
    <section class="hero position-relative text-center text-white" style="height: 300px; overflow: hidden;">
        <img src="{{ url_for('static', filename='images/roombase.jpg') }}" alt="Hotel Image" class="img-fluid">
        <div class="position-absolute top-0 start-0 w-100 h-95 bg-dark opacity-50"></div>
        <div class="position-absolute top-50 start-50 translate-middle w-100">
            <h2 class="fw-bold" style="font-size: 4rem; font-family: 'Arial', sans-serif;">Welcome to LMAO</h2>
            <h1 class="display-4 fw-bold"
                style="font-size: 3rem; font-family: 'Arial', sans-serif;">
                The Best Hotel</h1>
            <div class="d-flex justify-content-center row fs-4 w-100">
                <div class="col-auto">
                    <p class="mb-0"
                       style="font-size: 95px; font-weight: Arial;">Rental History</p>
                </div>
            </div>
        </div>
    </section>

    <div class="popup"></div>
    {% if list_rented_rooms %}
        <div class="container mt-4 mb-4">
            <!-- Room Details -->
            {% for item in list_rented_rooms %}
                <div>
                    <div class="row p-3 shadow-sm text-white mt-2" style="background: #687994;">
                        <div class="col-md-4">
                            <img src="{{ item.room.image }}" alt="Room Image"
                                 class="img-fluid rounded">
                        </div>
                        <div class="col-md-8 d-flex flex-column justify-content-between">
                            <h5 class="card-title">{{ item.room.name }}</h5>
                            <p class="card-text">Room Type: {{ item.room.room_type.name }}</p>
                            <p class="card-text">Check-in:<span class="fw-bold"> {{ item.check_in_date }}</span></p>
                            <p class="card-text">Check-out:<span class="fw-bold"> {{ item.check_out_date }}</span></p>
                            <p class="fw-bold">Price: {{ "{:,.0f}".format(item.room.room_type.price) }} VNĐ</p>
                            {% if item.is_review %}
                                <button class="btn align-self-end bg-white text-dark rounded-0">
                                    <a href="/room-detail?room_id={{ item.room.id }}">View review</a>
                                </button>
                            {% else %}
                                <button class="btn btn-review align-self-end bg-white text-dark rounded-0">
                                    <a href="javascript:;" class="review-link">Review</a>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    <form class="mt-2 d-flex form-hidden">
                        <!--                        <input type="hidden" value="{{ item.room.id }}">-->
                        <!--                        <input type="text" class="form-control me-2" placeholder="Enter your review here">-->
                        <!--                        <button class="btn btn-primary rounded-1 send" disabled>Send</button>-->
                        <div class="col-12 d-flex">
                            <input type="hidden" name="room-id" value="{{ item.room.id }}">
                            <input type="hidden" name="rental-id" value="{{ item.id }}">
                            <input type="text" class="form-control me-2 rounded-0"
                                   placeholder="Input your comment"
                                   style="background: #D9D9D9;">
                            <button type="button" class="btn text-dark rounded-0 send"
                                    style="background: #D9D9D9;" disabled>Send
                            </button>
                        </div>
                    </form>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="container mt-4 alert alert-info"> No rental history.</div>
    {% endif %}

    <script>
        const reviewButtons = document.querySelectorAll(".btn-review");
        let activeForm = null; // Biến lưu form đang hiển thị

        reviewButtons.forEach(button => {
            button.addEventListener("click", function (event) {
                event.preventDefault();
                // Ẩn form cũ nếu có
                if (activeForm) {
                    activeForm.classList.remove("form-visible");
                    activeForm.classList.add("form-hidden");
                }

                // Tìm form liên quan đến nút Review hiện tại
                var form = this.closest(".row").nextElementSibling;
                if (form && form.tagName === "FORM") {
                    form.classList.remove("form-hidden");
                    form.classList.add("form-visible");
                    activeForm = form; // Gán form hiện tại vào activeForm
                }
            });
        });

        document.querySelectorAll('.form-hidden').forEach(function (form) {
            let input = form.querySelector('input[type="text"]');
            let button = form.querySelector('.send');

            input.addEventListener('input', function () {
                // Kiểm tra nếu ô input có giá trị
                if (input.value.trim() !== '') {
                    button.disabled = false; // Bật nút nếu có giá trị
                } else {
                    button.disabled = true;  // Tắt nút nếu không có giá trị
                }
            });

            form.querySelector('.send').addEventListener('click', function (event) {
                event.preventDefault()
                let roomId = form.querySelector('input[name="room-id"]')
                let rentalId = form.querySelector('input[name="rental-id"]')
                fetch('/api/comment', {
                    method: 'POST',
                    body: JSON.stringify({
                        'content': input.value,
                        'roomId': roomId.value,
                        'rentalId': rentalId.value
                    }),
                    headers: {'Content-Type': 'application/json'}
                }).then(res => res.json()).then(data => {
                    if (data.isSuccess) {
                        form.classList.remove("form-visible");
                        form.classList.add("form-hidden");
                        var parentDiv = form.parentElement;
                        var reviewButton = parentDiv.querySelector('.btn-review');
                        if (reviewButton) {
                            let reviewLink = reviewButton.querySelector('.review-link');

                            // Thay đổi nội dung của thẻ <a> thành "View Review"
                            reviewLink.textContent = 'View Review';

                            // Cập nhật href của thẻ <a>
                            reviewLink.setAttribute('href', `/room-detail/?room_id=${roomId}`); // Thay đổi href

                        }
                    }
                })
            });
        });
    </script>
{% endblock %}